* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: #fcf2e6;
}

/*------------------------- DESKTOP --------------------------------*/
/*--- INTRO ---*/

.intro { /**/
    position: fixed;
    inset: 0;

    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    animation: introFade 3s forwards;
}

.intro-logo { /**/
    color: #FCF2E6;

    font-family: "Cormorant Garamond", serif;
    font-size: 9rem;
    font-weight: 700;

    line-height: 0.9;
    text-align: center;

    animation: logoFade 3s forwards;
}

/* --- VIDEO --- */

.video {
    height: 100vh; /* A altura do elemento será igual a 100% da altura visível da tela */
    position: relative; 
    overflow: hidden; /* Se algo passa dos limites da caixa essa função esconde */
}

.video-cabecalho {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover; /* Preenche todo o espaço disponível, mesmo que precise cortar partes da imagem */
    z-index: 1; /* define quem fica na frente/atrás, aqui está atrás*/
}

/*--- OVERLAY ---*/

.overlay { /**/
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.15);

    z-index: 2;

    animation: escurecerVideo 2s forwards;
    animation-delay: 7.2s;
}

/* --- HEADER --- */

header {
    position: relative;
    z-index: 1500; /*vai ficar por cima do video*/

    padding: 50px clamp(20px, 5vw, 70px);

    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: clamp(24px, 3vw, 60px);

    align-items: center;

    opacity: 0; /**/

    animation: aparecerHeader 3s forwards; /**/
    animation-delay: 7.2s; /**/
}

/* --- LOGO --- */

.logo {
   color: #FCF2E6;

   font-size: clamp(28px, 2vw, 36px);

   font-weight: 700; /*Espessura*/
   line-height: 1; /**/

   transition: color 0.3s ease;

}

/* --- MENU --- */

.menu-desktop {
    display: flex; 
    justify-content: center; /* decide onde vai se posicionar os itens */
    width: 100%;
    align-items: center;

    gap: clamp(20px, 3vw, 85px);
}

.menu-desktop a {
    color: #FCF2E6;
    text-decoration: none; /*remove a linha embaixo do link*/

    font-size: clamp(14px, 1.1vw, 20px);

    font-weight: 500;
    transition: 0.3s;

    white-space: nowrap;
}

.menu-desktop a:hover {
    color: #AB7743;
}

/*--- REDES SOCIAIS DESKTOP ---*/

.social-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: clamp(12px, 1.5vw, 25px);
}

.social-desktop a {
    color: #FCF2E6;

    font-size: clamp(24px, 1.8vw, 32px);

    transform: 0.3s;
}

.social-desktop a:hover {
    color: #AB7743;
}

/*--------------------------- MOBILE -------------------------------*/

/*--- REDES SOCIAIS MOBILE ---*/
.menu-mobile {
    display: none;

    width: 40px;
    height: 40px;

    background: transparent;
    border: none;

    cursor: pointer;

    position: fixed;

    top: 50px;
    right: clamp(16px, 6vw, 70px);

    z-index: 99999;
}

/*--- OS DOIS RISQUINHOS ---*/
.menu-mobile span {
    position: absolute;

    width: 100%;
    height: 3px;

    background: #FCF2E6;

    left: 0;

    transition: all 0.4s ease;
}

.menu-mobile.ativo span { /*muda para marrom o X*/
    background: #3b2a22;
}

/*--- PRIMEIRO RISCO ---*/
.menu-mobile span:first-child {
    top: 12px;
}

/*--- SEGUNDO RISCO ---*/
.menu-mobile span:last-child {
    bottom: 12px;
}

/*--- QUANDO ABRIR ---*/
.menu-mobile.ativo span:first-child {
    transform: rotate(45deg);
    top: 18px;
}

/*--- PARA ARRUMAR OS LINKS (Home, Product Line..)---*/
.menu-mobile.ativo span:last-child {
    transform: rotate(-45deg);
    bottom: 18px;
}

.menu-mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    width: 100%;
}

.menu-mobile-links a {
    display: block;
    margin: 0;

    color: #3b2a22;
    text-decoration: none;

    font-weight: 500;

    transition: all 0.3s ease;

    opacity: 0;
    transform: translateY(15px);
    transition: all 0.3s ease;

    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;

    position: relative;
    text-decoration: none;
}

.menu-mobile-links a:hover {
    color: #AB7743;
}

.menu-mobile-links a::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: -6px;

    transition: all 0.3s ease;

    width: 0;
    height: 2px;

    background: #AB7743;
    
    transform: translateX(-50%);
}

.menu-mobile-links a:hover::after {
    width: 100%;
}

/*--- ÍCONES ---*/
.social-mobile {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 25px;
    border-top: 1px solid rgba(0,0,0,.15);
    padding-top: 35px;
}

.social-mobile a {
    color: #3b2a22;
    font-size: 28px;
    transition: .3s;
}

.social-mobile a:hover {
    color: #AB7743;

    transform: translateY(-3px);
}

/*--- BARRA LATERAL ---*/
.sidebar {
    position: fixed;
    top: 0;
    right: -350px;

    width: 350px;
    height: 100vh;

    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: -10px 0 30px rgba(0,0,0,0.15);

    z-index: 1000;

    transition: right 0.6s cubic-bezier(0.77, 0, 0.175, 1),
                opacity 0.4s ease;
    
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.ativo {
    right: 0;
    opacity: 1;
    
}

.sidebar.ativo .menu-mobile-links a {
    opacity: 1;
    transform: translateY(0);
}

.sidebar.ativo .menu-mobile-links a:nth-child(1) { transition-delay: 0.4s; }
.sidebar.ativo .menu-mobile-links a:nth-child(2) { transition-delay: 0.5s; }
.sidebar.ativo .menu-mobile-links a:nth-child(3) { transition-delay: 0.6s; }
.sidebar.ativo .menu-mobile-links a:nth-child(4) { transition-delay: 0.7s; }
.sidebar.ativo .menu-mobile-links a:nth-child(5) { transition-delay: 0.8s; }
.sidebar.ativo .menu-mobile-links a:nth-child(6) { transition-delay: 0.9s; }
.sidebar.ativo .menu-mobile-links a:nth-child(7) { transition-delay: 1.0s; }

.overlay-mobile {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

    opacity: 0;
    pointer-events: none;

    transition: 0.5s ease;

    z-index: 999;
}

.overlay-mobile.ativo {
    opacity: 1;
    pointer-events: auto;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

/*---------------------------- @media ---------------------------------*/

/*--- RESPONSIVO ---*/
@media (max-width: 950px) {

    header {
        grid-template-columns: 1fr 1fr;
    }

    .menu-desktop,
    .social-desktop {
        display: none;
    }

    .logo {
        justify-self: start;
        font-size: 28px;
    }

    .menu-mobile {
        display: flex;
    }

    .sidebar {
        width: 350px;
        right: -350px;
    }
}

@media (max-width: 700px) {
    body.menu-aberto .logo {
        color: #3b2a22;
    }

    .menu-mobile-links a {
        font-size: 24px;
    }

    .social-mobile a {
        font-size: 32px;
    }

    .sidebar {
        width: 100%;
        right: -100%;
    }

}

/*--- ANIMAÇÕES ---*/

@keyframes logoFade { /**/

    0% {
        opacity: 1;
        transform: scale(1);
    }

    70% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

@keyframes introFade { /**/

    0%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

@keyframes aparecerHeader { /**/

    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes escurecerVideo { /**/

    from {
        background: rgba(0, 0, 0, 0.15);
    }

    to {
        background: rgba(0, 0, 0, 0.50); /*Esse ultimo numero é o tanto que a imagem vai escurecer*/
    }
}